/* header */
header{
    height: 100px;
}
h1{
    display: inline-block;
    width: 200px;
    font-size: 50px;
}
/*main*/
main{
    background-color: rgb(241 241 241);
}
#container{
    background-color:rgb(241 241 241);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 250px;
    margin-left: 250px;
    padding:50px;
    border: 150px; 
}
#little_container{
    background-color: rgb(253, 250, 250);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
    padding:50px;
    border-radius: 1%;
}
#first_button{
    color: white;
    background-color: #1d8ea5;
    border: none;
    padding: 5px;
    border-radius: 10%;
}
#second_button{
    color: rgb(136, 132, 132);
    border: none;
    padding: 5px;
    border-radius: 10%;
}
.none_ul{
    list-style-type: none;
}
.done::before{
    content: '\2714';
    border: 1px solid green;
    border-radius: 70%;
    font-size: 100px;
    color: green;
    font-size: 15px;
    margin-right: 10px;
    padding: 5px;
}
.undone::before{
    content: '\2718';
    border: 1px solid red;
    border-radius: 70%;
    font-size: 100px;
    color: red;
    font-size: 15px;
    margin-right: 10px;
    padding: 5px;
}    
li{
    margin-bottom: 10px;
}
.bar{
    height:20px;
    padding: 5px;
    border-radius: 10px;
    color: white;
}
.blue{
    background-color: #1d8ea5;;
}
.green{
    background-color: #26c569;;
}
.violet{
    background-color: #941694;;
}
.orange{
    background-color: #a5531d;;
}
.rose{
    background-color: #cc2d9c;;
}
.yellow{
    background-color: goldenrod;;
}